.demo-Circle-custom h1 {

    color: #3f414d;
    font-size: 28px;
    font-weight: normal;
}

.demo-Circle-custom p {
    color: #657180;
    font-size: 14px;
    margin: 10px 0 15px;
}

.demo-Circle-custom span {
    display: block;
    padding-top: 15px;
    color: #657180;
    font-size: 14px;
}

.demo-Circle-custom span :before {
    content: '';
    display: block;
    width: 50px;
    height: 1px;
    margin: 0 auto;
    background: #e0e3e6;
    position: relative;
    top: -15px;
}

.demo-Circle-custom span i {
    font-style: normal;
    color: #3f414d;
}
